<?xml version="1.0"?>

<menu date="20.02.2016">
    <item type="salad" tags="meat,beef">
        <name>Болгарский</name>
        <composition>
            <ingredient>говядина</ingredient>
            <ingredient>паприка</ingredient>
            <ingredient>масло</ingredient>
        </composition>
        <weight>150</weight>
        <calorie>356</calorie>
        <price>80.0</price>
    </item>
    <item type="soup" tags="mushroom">
        <name>Солянка грибная</name>
        <weight>250</weight>
        <calorie>206</calorie>
        <price>75.0</price>
    </item>
    <item type="main course" tags="fish,salmon">
        <name>Лосось с соусом тар тар</name>
        <weight>120</weight>
        <calorie>417</calorie>
        <price>220.0</price>
    </item>
    <item type="garnish" tags="veg">
        <name>Овощи на пару</name>
        <weight>150</weight>
        <calorie>51</calorie>
        <price>55.0</price>
    </item>
</menu>